/* For light/dark theming */
.mat-mdc-card-outlined {
  background-color: transparent;
}

.mat-mdc-card {
  margin: 16px;
}

.mat-mdc-card-header {
  padding-bottom: 16px;
}

::ng-deep.mat-mdc-card-header-text {
  width: 100%;
}

.mat-mdc-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mat-button-toggle-group-appearance-standard {
  border-radius: 10px;
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: row;
}

article {
  padding-left: 16px;
}

.mat-mdc-chip-set-stacked .mat-mdc-chip {
  width: auto;
}

.external-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}