<header>  
  <mat-toolbar>
    <h1 class="cliquable" (click)="goToHome()">
      <mat-icon class="material-symbols-outlined">lists</mat-icon>
      {{appTitle}}
    </h1>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <app-theme-toggle></app-theme-toggle>
    @if (isAuthentified) {
      <button mat-icon-button (click)="logout()">
        <mat-icon class="material-symbols-outlined">logout</mat-icon>
      </button>
    }
  </mat-toolbar>
</header>
