.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.container img {
  width: 50vw;
  border: 5px solid #ededed;
  box-shadow: 0px 0px 0px 12px rgba(191.25, 191.25, 191.25, 0.5);
  border-radius: 50%;
}

.container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-mdc-card {
  padding: 16px;
}

.mat-mdc-card-title {
  line-height: normal;
}

.mat-mdc-card-content {
  padding: 0;
}

.mdc-card__actions {
  justify-content: center;
}

.mat-mdc-card-content > :last-child:not(.mat-mdc-card-footer) {
  margin-bottom: 1rem;
}

@media screen and (orientation: landscape) {
  .container {
    flex-direction: row;
    gap: 5vw;
  }

  .container img {
    width: 30vw;
  }
}