<mat-card class="theme-container" appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h3>{{anime.title}}</h3>
      @if (anime.imageUrl !== null) {
        <img mat-card-image [src]="anime.imageUrl" [alt]="anime.title">
      } 
      @else {
        <img mat-card-image src="images/no-image-available.png" alt="">
      }
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <header>
      {{anime.totalEpisodes}} épisode(s)
      <a href="{{anime.url}}" target="_blank" class="external-link">
        <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>
      </a>
    </header>
    <article>
      <p>{{anime.description}}</p>
    </article>
    <footer>
      <mat-chip-set class="mat-mdc-chip-set-stacked">
        @for (genre of anime.genres; track genre) {
          <mat-chip disableRipple>{{genre}}</mat-chip>
        }
      </mat-chip-set>
      <button mat-icon-button class="mdc-icon-button" (click)="addAnimeToCollection()">
        <mat-icon class="material-symbols-outlined">add_circle</mat-icon>
      </button>
    </footer>
  </mat-card-content>
</mat-card>