/* BREAKPOINTS : 768px (tablets) and 1024px (desktops), 1400px (desktops xxl) */

/*---------- FONTS ----------*/
@font-face {
  font-family: 'Dekko-Regular';
  src: url('../public/fonts/Dekko-Regular.ttf');
}

@font-face {
  font-family: 'Lexend-Regular';
  src: url('../public/fonts/Lexend-Regular.ttf');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('../public/fonts/Nunito-Regular.ttf');
}

* {
  box-sizing: border-box;
}

/*---------- RESET CSS ----------*/
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-family: 'Nunito-Regular';
  margin: 0;
}

strong {
  font-family: 'Lexend-Regular';
}

.cliquable {
  cursor: pointer;
}

body .external-link,
body .external-link > mat-icon,
body.dark-theme .external-link,
body.dark-theme .external-link > mat-icon {
  color: steelblue;
  text-decoration: none;
}

/*---------- THEME ----------*/
/* Material elements overload */
body .mat-mdc-card-outlined {
  background-color: inherit;
  border-color: transparent;
}

body .mat-mdc-chip-set-stacked .mat-mdc-chip {
  width: auto;
}

body .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
  font-family: 'Lexend-Regular';
}

body .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__action--primary:before {
  border-color: transparent;
}

body .mat-mdc-chip:hover .mat-mdc-chip-focus-overlay {
  display: none; /* Remove hover effects on mat-chips */
}

body .mat-mdc-unelevated-button:not(:disabled) {
  background-color: rgb(128, 128, 128);
}

body .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
body .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
body .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color:rgb(128, 128, 128);
}

body .mat-mdc-form-field:not(.mat-form-field-disabled).mat-mdc-form-field-has-icon-suffix .mat-mdc-floating-label.mdc-floating-label {
  padding-right: 26px;
}

body .mat-mdc-snack-bar-container .mat-mdc-snackbar-surface,
body .mat-mdc-snack-bar-container .mat-mdc-snackbar-surface mat-icon {
  color: white;
  padding: 0;
}

/* Light Theme Styles */
body,
body .mat-toolbar,
body .mat-mdc-card-subtitle {
  background-color: rgb(237, 237, 237);
  color: rgb(31, 27, 36);
}

body .border-color {
  border-color: rgb(31, 27, 36);
}

body mat-icon,
body .mat-mdc-icon-button,
body .mat-mdc-button:not(:disabled),
body mat-label,
body .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgb(31, 27, 36);
}

body input::placeholder {
  color: rgba(31, 27, 36, 0.7) !important;
}

body .mat-mdc-button:hover,
body .theme-container {
  background-color: rgba(63.75, 63.75, 63.75, 0.15);
}

body .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: rgb(237, 237, 237);
}

body .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
  color: rgb(31, 27, 36);
}

body .mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__leading,
body .mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__notch,
body .mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__trailing {
  border-color:rgb(31, 27, 36) !important;
}

/* Dark Theme Styles */
body.dark-theme,
body.dark-theme .mat-toolbar,
body.dark-theme .mat-mdc-card-subtitle {
  background-color: rgb(31, 27, 36);
  color: rgb(237, 237, 237);
}

body.dark-theme .border-color {
  border-color: rgb(237, 237, 237) !important;
}

body.dark-theme mat-icon,
body.dark-theme .mat-mdc-icon-button, 
body.dark-theme .mat-mdc-button:not(:disabled),
body.dark-theme mat-label,
body.dark-theme .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgb(237, 237, 237);
}

body.dark-theme input::placeholder {
  color: rgba(237, 237, 237, 0.7) !important;
}

body.dark-theme .mat-mdc-button:hover,
body.dark-theme .theme-container {
  background-color: rgba(191.25, 191.25, 191.25, 0.15);
}

body.dark-theme .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: rgb(31, 27, 36);
}

body.dark-theme .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
  color: rgb(237, 237, 237);
}

body.dark-theme .mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__leading,
body.dark-theme .mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__notch,
body.dark-theme .mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__trailing {
  border-color:rgb(237, 237, 237) !important;
}
