/* BREAKPOINTS : 768px (tablets) and 1024px (desktops), 1400px (desktops xxl) */

/*---------- FONTS ----------*/
@font-face {
  font-family: 'Dekko-Regular';
  src: url('../public/fonts/Dekko-Regular.ttf');
}

@font-face {
  font-family: 'Lexend-Regular';
  src: url('../public/fonts/Lexend-Regular.ttf');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('../public/fonts/Nunito-Regular.ttf');
}

* {
  box-sizing: border-box;
}

/*---------- RESET CSS ----------*/
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-family: 'Nunito-Regular';
  margin: 0;
}

strong {
  font-family: 'Lexend-Regular';
}

.cliquable {
  cursor: pointer;
}

.external-link,
.external-link > mat-icon,
.dark-theme .external-link,
.dark-theme .external-link > mat-icon {
  color: steelblue;
  text-decoration: none;
}

/*---------- THEME ----------*/
/* Material elements overload */
body .mat-mdc-card-outlined {
  background-color: inherit;
  border-color: transparent;
}

body .mat-mdc-chip-set-stacked .mat-mdc-chip {
  width: auto;
}

body .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
  font-family: 'Lexend-Regular';
}

body .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__action--primary:before {
  border-color: transparent;
}

body .mat-mdc-chip:hover .mat-mdc-chip-focus-overlay {
  display: none; /* Remove hover effects on mat-chips */
}

/* Light Theme Styles */
body,
.mat-toolbar,
.mat-mdc-card-subtitle {
  background-color: #ededed;
  color: #1F1B24;
}

body .border-color {
  border-color: #1F1B24;
}

mat-icon,
body .mat-mdc-icon-button,
body .mat-mdc-button:not(:disabled) {
  color: #1F1B24;
}

.mat-mdc-button:hover {
  background-color: rgba(63.75, 63.75, 63.75, 0.15);
}

body .theme-container {
  background-color: rgba(63.75, 63.75, 63.75, 0.15);
}

body .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #ededed;
}

body .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
  color: #1F1B24;
}

/* Dark Theme Styles */
body.dark-theme,
.dark-theme .mat-toolbar,
.dark-theme .mat-mdc-card-subtitle {
  background-color: #1F1B24;
  color: #ededed;
}

body.dark-theme .border-color {
  border-color: #ededed;
}

.dark-theme mat-icon,
body.dark-theme .mat-mdc-icon-button, 
body.dark-theme .mat-mdc-button:not(:disabled) {
  color: #ededed;
}

.dark-theme .mat-mdc-button:hover {
  background-color: rgba(191.25, 191.25, 191.25, 0.15)
}

body.dark-theme .theme-container {
  background-color: rgba(191.25, 191.25, 191.25, 0.15);
}

body.dark-theme .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #1F1B24;
}

body.dark-theme .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
  color: #ededed;
}
