html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h2 { margin: 0; }

mat-icon { color: #121212 }

/* Dark Theme Styles */
.dark-theme,
.dark-theme .mat-mdc-icon-button,
.dark-theme .mat-toolbar,
.dark-theme .mat-mdc-card-subtitle {
  background-color: #121212;
  color: #ffffff;
}
